.App {
  text-align: center;
}
.divTablesStyle {
  display:flex
}

.tableStyle {
  min-width: 70%;
  max-height: 20px;
  margin-left:20px
}

.usersTableStyle {
  width:20%;
  margin-left: 20px
}

.thStyle {
  max-height: 10px
}